/*styling.css*/
/*add font family, background image*/
.cont1{
  color: #ffffff;
  height: 80px;
}
.navbar{
  display: flex;
  
  top:0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  color: #ffffff;
  
  
 


}




.Graviti {
  
  width: 10%;

  margin-left:70px;
  margin-top: 3.5px;
  
  padding: 3px;
}
body {
  color: #1b31a3;
  font-family: "Poppins", sans-serif;
}

.fa-map-marker-alt,
.fa-dot-circle {
  color: #5bc0de;
}

/*Jumbotron*/
.jumbotron {
  background-color: #EFF6F6;
  margin: 0;
  padding: 10px;
}

.jumbotron h1 {
  letter-spacing: auto;
  font-size: 20px;
}

.jumbotron h1,
.jumbotron p {
  text-align: center;
}
.btn{
  background-color: #1b31a3;
  border-radius: 20px;
  font-size: 14px;
  
  
}

/*map*/
#googleMap {
  width: 40%;
  height: 300px;
  margin: 10px auto;
  margin-right: 50px;
  
  
  
  
  
}
.form-horizontal{
  margin-top: 65px;
  
  

}
/*output box*/
#output {
  text-align: center;
  font-size: 2em;
  margin: 20px auto;
}

#mode {
  color: black;
}
